html,
body,
main {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

canvas {
  display: block;

  /*todo: déformation du canvas, je ne mettrais pas ceci*/
  max-width: 100vh;
  max-height: 100vh;
  /*-----*/

  /*todo: ici, décommenter ce code,
     pour avoir les canvas en plein et centré,
     dans tous les écrans*/
  width: 100% !important;
  height: 100% !important;
  margin: auto;
  object-fit: contain;
  /*-----*/
}
